OpenCrowdSource/Resources/deckSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"> 

	<xs:attribute name="id" type="xs:integer"/>
	<xs:attribute name="name" type="xs:string"/>
	
	<xs:element name="deck">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="character" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="played" type="xs:integer"/>
						</xs:all>
						<xs:attribute ref="id" use="required"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="location" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="played" type="xs:integer"/>
						</xs:all>
						<xs:attribute ref="id" use="required"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="task" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="played" type="xs:integer"/>
						</xs:all>
						<xs:attribute ref="id" use="required"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="modifier" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="played" type="xs:integer"/>
						</xs:all>
						<xs:attribute ref="id" use="required"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="minorTwist" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="played" type="xs:integer"/>
						</xs:all>
						<xs:attribute ref="id" use="required"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="majorTwist" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="played" type="xs:integer"/>
						</xs:all>
						<xs:attribute ref="id" use="required"/>
					</xs:complexType>
				</xs:element>

			</xs:choice>
			<xs:attribute ref="name" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>